<!-- app/views/lists/index.html.erb -->

<h1>Saved Places</h1>
<% if @saved_places.any? %>
  <ul>
    <% @saved_places.each do |place| %>
      <li><%= place.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't added any favorite places yet.</p>
<% end %>
