<!-- app/views/lists/index.html.erb -->

<h1>Saved Places</h1>
<% if @saved_places.any? %>
  <ul>

    <% @lists.each do |list| %>
    <% saved_place = Place.find(list.place_id) %>
      <li><%= saved_place.place_name %> (<%= link_to 'Remove', list_path(saved_place.id), method: :delete %>)</li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't added any favorite places yet.</p>
<% end %>
