/* Define fonts */
$headers-font: 'Montserrat';

/* Define font weights */
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Bootstrap variables */
$headings-font-family: $headers-font;

/* Define fonts for body and headers */
$body-font: 'Montserrat', sans-serif;
$headers-font-bold: 'Montserrat', sans-serif; /* Bold weight */
$headers-font-normal: 'Montserrat', sans-serif; /* Normal weight */

/* Example usage */
body {
  font-family: $body-font;
}

p {
  font-family: $body-font;
  margin-left: 30px;
}

h1, h2 {
  font-family: $headers-font-bold; /* Apply bold weight for h1 and h2 */
  margin-left: 30px;
}

h1 {
  font-size: 24px;
  font-weight: $font-weight-bold;
}

h3, h4, h5, h6 {
  font-family: $headers-font-normal; /* Apply normal weight for h3, h4, h5, h6 */
  margin-left: 30px;
}
