.place_details {
  padding-left: 34px;
  padding-right: 34px;
}

.hero {
  padding-top: 20px;
  // padding-bottom: 5px;
  // font-weight: bold;
  font-size: 24px;
}

.carousel {
  padding-bottom: 30px;
}

.carousel-inner img{
  height: 236px;
  width: 362px;
  object-fit: cover;
  border-radius: 16px;
}

.buttons{
  display: d-flex;

  .take-me-there {
    background-color: orange;
    border: orange;
    padding: 0.5rem 1rem; /* Increased padding for better visual appearance */
    font-size: 1rem;
    font-weight: 500; /* Slightly increased font weight */
    line-height: 1.5;
    // width: fit-content;
    height: 38px;
    // padding: 6px 12px;
  }
}




.place-details {
  .details {
    .tags {
      margin-bottom: 20px;

      .tag {
        display: inline-block;
        padding: 6px 12px;
        background-color: $green10;
        color: white;
        border-radius: 16px;
      }
    }

    .reviews {
      .review-card {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #fff;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;

        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 20px;
        }

        .review-details {
          h2 {
            font-size: 18px;
            margin-bottom: 10px;
          }

          p {
            font-size: 16px;
            color: #555;
            margin-bottom: 5px;
          }

          strong {
            font-weight: bold;
          }
        }
      }

      p {
        font-size: 16px;
        color: #555;
      }
    }
  }
}


/* Place this code in your SCSS file */

// Customize the carousel container width
#carouselExampleIndicators {
  max-width: 800px; // Adjust the maximum width of the carousel
  margin: 0 auto; // Center the carousel horizontally
}

// Customize the carousel items width
.carousel-item {
  width: 100%; // Set the width of the carousel items to 100% of the container
}

// Optionally, you can adjust the height of the carousel items
.carousel-item img {
  max-height: 600px; // Adjust the maximum height of the images
}
