.hero{
  padding-top: 100px;
}

.button-toggle {
align-items:end;
padding-top: 20px;
}

.card-product {
  position: relative;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add space between cards */
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

/* Heart icon styles */
.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc; /* Default color */
  cursor: pointer;
  transition: color 0.3s; /* Add transition for smooth color change */
}

/* Heart icon color when hovered */
.heart-icon:hover {
  color: red;
}

/* Heart icon color when active (liked/saved) */
.heart-icon.active {
  color: red;
}
