// Specific CSS for your home-page

.card-2 {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-2 img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-2 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-2 p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-2 .card-2-infos {
  padding: 16px;
}

.checkout-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: #0056b3;
}
