// Specific CSS for your home-page
.banner {
  height: 100vh;
  display: flex;
  flex-direction: column; /* Display content stacked vertically */
  justify-content: center; /* Center content vertically */
  align-items: center;
  background: linear-gradient(180deg, #E0FCFD 65%, #B8D8AD 35%);
  background-size: cover;
  background-position: center;
  .logo {
    padding: 60px 0; /* Adjust the padding amount as needed */
  }
  .welcome.dog {
    padding: 60px 0; /* Adjust the padding amount as needed */
  }
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
  }
  .btn {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 21px;
    padding-bottom: 21px;
    background: #2D8D79;
    border: #2D8D79;
    border-radius: 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: "inline-flex";
  }

  .btn:hover {
    background-color: #62AC8B;; /* Bright background color on hover */
    border-color: #62AC8B;; /* Bright border color on hover */
    color: white; /* Set text color to white */
  }
}
