
<div class="container explore">
  <div>
    <%= image_tag "dog_blog.png" %>
  </div>

  <div class="hero text-start">
    <h1>Toys to Improve Your Pet’s Dental Health</h1>
  </div>

    <h2>What are the benefits of dental toys?</h2>
    <p>
      Dental toys are an important part of dental care for cats and dogs. On top of your pet toothbrush and other dental products (which you can read more about here), toys make a great addition to your pet dental care routine in the following ways:
    </p>
    <ul>
      <li>Help to clean teeth by reducing plaque and preventing tartar build-up</li>
      <li>Strengthen gums</li>
      <li>Encourage the chewing instinct, which can release serotonin and help your pet feel happy</li>
      <li>Keep them entertained and stimulate their brains</li>
    </ul>

    <p>
      August is pet dental month, the time of year we remind all paw parents of the importance of pet dental health. With daily at-home care and regular visits to the vet, you can help maintain your pet’s oral health – the goal is to avoid dental problems occurring, as treatment can be more of a pain than prevention!
    </p>

    <h2>Try these dental toys</h2>

    <h3>Tasty Bone Trio Chew Toys</h3>
    <p>
      Made from strong nylon, the Tasty Bone Trio range is super durable to withstand hours and hours of chewing and drool – and there will be plenty of drool from the strong flavours. Choose from chicken, beef, mint or peanut butter. The surface is uniquely textured to help scrape plaque from the teeth, and the three-prong design provides plenty to chew on.
    </p>

    <h3>KONG Dental Stick</h3>
    <p>
      Made from durable KONG classic rubber, this dental stick is designed with denta-ridges to help clean plaque and tartar off your pet’s teeth. Plus, you can fill it with KONG easy treat (made for dogs) to enrich the chewing experience, and it’s great for fetch! Available in small, medium and large.
    </p>

    <h3>Living World Nibblers</h3>
    <p>
      The Nibbler range from Living World is designed for small pets like rats, rabbits and guinea pigs. Chewing on a Nibbler can help discourage destructive behaviour or chewing of things you’d rather they didn’t chew (we’re looking at you, chords, socks and books…). It also helps to wear down teeth to stop them from growing too long or sharp.
    </p>
    <ul>
      <li>Carrot on a stick → You can hang the carrot from its stick down into your little pal’s cage. It is made from wood and non-toxic food colours for safe chewing.</li>
      <li>Corn cob on stick → This corn design can hang into the cage the same as the carrot.</li>
      <li>Apple → You can leave this rounded apple in your pet’s cage for them to push around for some play and chew when the urge strikes.</li>
      <li>Fruit and veggie seven piece mix → Scatter these seven small Nibblers around your pet’s enclosure for colourful toys to entice play and encourage the healthy chewing instinct.</li>
    </ul>

    <h2>Preventing dental problems for your pet</h2>
    <p>
      Daily prevention can help you stay on top of your pet’s dental hygiene. Toys are a great double-whammy of dental care and mental stimulation, and work nicely in a routine that includes brushing, dental treats and regular vet visits. To learn more about oral hygiene this pet dental month, get in touch or visit your nearest My Pet Warehouse store for friendly, personalised advice.
    </p>
  </div>
</div>
