<%# Hero %>
<div class="hero">
<h1>Explore</h1>
</div>

<%# Search bar %>


    <%# Map %>
    <div class="col-">
      <div class="map">
        <div style="width: fit; height: 500px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
