<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="logo">
    <%= image_tag "ww_v_green.png" %>
  </div>
  <div class="welcome dog">
    <%= image_tag "Dog1dog.png" %>
  </div>
  <div class="banner-content text-center">
    <p>Finding dog-friendly spots around town</p>
    <%= link_to "Start now", new_user_session_path, class: "btn btn-lg btn-primary text-white"  %>
  </div>
</div>
