.logo-devise {
  margin: 30px auto;
  padding: 100px; /* Adjust the padding as needed */
  background-image: url('ww_v.png'); /* Replace 'path/to/your/image.jpg' with the actual URL or relative path to your image */
  background-size: contain; /* Ensures the background image is contained within the container */
  background-position: center;
  background-repeat: no-repeat;
}
