// Specific CSS for your login-page
.login-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}

.form-inputs {
  margin-bottom: 20px;
}

.links {
  margin-top: 20px;
  margin-bottom: 20px;
}

#signup-link:hover {
  text-decoration: underline;
}

#login-link:hover {
  text-decoration: underline;
}
