<!DOCTYPE html>
<html>
<head>
  <title>Review Created</title>
</head>
<body>
  <h1>Review posted successfully!!</h1>
  <p>Thank you for your feedback!!</p>
  <%= link_to "Back to Place", @place %>
</body>
</html>
