
  <div class= "map-marker">
  <%# Picture of the marker %>
        <%= image_tag "/assets/#{place.id}1.jpg" %>

   <%# Info of the marker %>
    <div class= "place-info">
      <h6><%= link_to place.place_name, place_path(place) %></h6>
      <p><%= place.address %></p>
      <p>Rating: <%= place.average_rating %></p>
    </div>

  </div>
